
@use '../../lib/service.scss' as s;

// .form {
//     display: flex;
//     flex-direction: column;
//     padding: s.space(4);
//     gap: s.space(8);

//     &__title {
//         font-size: 20px;
//         font-weight: bold;
//         padding-bottom: s.space(1);
//         // color: s.color('button-primary');
//     }

//     &__content {
//         display: grid;
//         gap: s.space(6);
//     }
//     &__field {
//          display: flex;
//          flex-direction: column;
//          gap: s.space(2);
//     }

//     &__label {
//         font-size: 14px;
//     }
//     &__large {
//         min-height: 60px;
//     }
//     &__input {
//         border: 1px solid s.color('light');
//         padding: s.space(2);
//         border-radius: 5px;
//     }

//     &__button {
//         padding: s.space(2);
//         background-color: s.color('button-primary');
//         // color: s.color('white');
//         color: #fff;
//         border-radius: 5px;
//     }
// }
// .two { 
//     display: grid;
//     grid-template-columns: 1fr 1fr;
//     gap: s.space(10);
// }
// .alert {
//     display: flex;
//     flex-direction: row;
//     justify-content: space-between;
//     gap: s.space(5);
//     padding: s.space(6);

// }
// .alert_title {
//     padding-top: s.space(6);
//     padding-left: s.space(6);
    
// }
// .go-back_button {
//         padding: s.space(2);
//         background-color: s.color('button-primary');
//         text-decoration: none; 
//         color: #fff;
//         border-radius: 5px;
// }

// main {
//     display: flex;
//     flex-direction: column;
//     gap: s.space(10);
// }

// .user-list {
//     li {
//         padding-right: 15px;
//         padding-top: 5px;
//         padding-bottom: 5px;
//     }
// }

// .card {
//     margin: 20px;
//     border: 1px ;
//     border-radius: 5px;
//     display: flex;
//     flex-direction: column;
//     gap: s.space(3);
//     padding: s.space(3);
//     box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
// }
// .alert {
//    font-family: "Roboto", sans-serif;
//    color: rgb(146, 144, 144)
// }
// .alert_title {
//    font-family: "Roboto", sans-serif;
//     font-size: 20px;
//     font-weight: bold;

// }

.card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px;
    padding: 20px;
    border: 1px solid grey;
    border-radius: 10px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
    background-color: s.color(white);

     &__header {
        flex-grow: 1;
     }

     &__title{ 
        font-size: 24px;
        font-weight: bold;
        margin: 0;
    }
    &__subtitle {
        font-size: 18px;
        margin-top: 8px;
        color: #666666;
    }
    &__button {
        
        background-color: s.color(button-primary);
        color: white;
        border: none;
        border-radius: 5px;
        padding: 10px 20px;
        font-size: 16px;
        cursor: pointer;
        transition: background-color 0.3s ease;
        text-decoration: none;

        &:hover {
            background-color: darkslateblue;
        }
    }
}